.benefits {
    display: flex;
}

.benefits__item {
    flex: 1;
    margin: 0 3%;
    position: relative;

    &::before {
        content: url("../../img/decor/separator.svg"); // Нет понимания, почему не подхватывает сеппараторы 
        position: absolute;
        top: 30px;
        right: 0;
        transform: translateX(50%);
    }

    &:first-child {
        margin-left: 12%;
    }

    &:last-child {
        margin-right: 12%;
    }
}

