.btn {
    font-size: 16px;
    font-weight: bold;
    padding: 18px 35px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: none;

    &--theme--yellow {
        background: $yellow;
        color: black;
    }

        &:hover {
            background: white;
            color: black;
        }

    &--theme--transparent {
        background: transparent;
        color: black;
        text-transform: none;

        &:hover {
            background: transparent;
            color: gray;
        }
    }
}